


.listing_prix_client{
    // background-color:green;
    font-size:9pt;
}


.listing_prix_client th{
    color:white;
    white-space: nowrap;
    background-color:black;
}



Landscape

.listing_prix_client .table-sm th, .listing_prix_client .table-sm td {
    padding: 0.1rem;
}